/* Applies to background behind the content column */
body{
  background-color: black;
}

/* Applies to entire content column */
.default {
  /*Sets size and colour of content column*/
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  font-family: Helvetica;
}

.default body{
  font-size: 15px;
}

.default p{
  margin: 30px;
  font-size: 20px;
}

.default ol{
  margin: 30px;
  font-size: 20px;
}

  /* Applies to headers */
  .default h1{
    font-size: 45px;
  }

  /* Applies to any images imported (usually just the UW logo */
  .default img {
    max-width: 499px;
    max-height: 125px;
    width: auto/9;
    height: auto;
    margin-bottom: 40px;
    margin-top: 50px;
  }

  /* Applies to links, like when you write <a href...(which will appear as buttons) */
  .default a {
    background-color: #787878;
    border-style: solid;
    border-color: #787878;
    border-radius: 12px;
    padding: 15px 32px;
    width: 40%;
    display: block;

    font-family: Helvetica;
    font-size: 20px;
    text-decoration: none;
    color: #FFD54F;
  }

  /* Specifies button behaviour when the cursor hovers over it */
  .default a:hover {
    cursor:pointer;
    background-color: white;
  }

  .default span {
    font-size: 15px;
    margin: 20px auto;
    display: block;
  }


  .default input:hover {
    cursor:pointer;
    background-color: white;
  }

  .default select{
    width: 30%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;   

    font-size: 20px; 
  }

  #grade{
    width:80%;   
  }

  .default textarea{
    resize:none; 
    font-size: 15px;
  }

  .default tr{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
  }


  .logout {
   
  }

  .logout a {
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px 30px 5px 30px; 
    max-width: 400px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: normal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  

  }

  .logout a:hover {
    cursor:pointer;
    background-color: gray;
    border-color: black;
  }

  .logout input[type=submit] {
    background-color: #787878;
    border-style: solid;
    border-color: #787878;
    border-radius: 12px;
    padding: 15px 32px;
    width: 20%;
    display: block;

    font-family: Helvetica;
    font-size: 20px;
    text-decoration: none;
    color: #FFD54F;
  }

  .logout input:hover {
    cursor:pointer;
    background-color: white;
    border-color: #787878;
  }



